$line-width: 5px;
$bottom-space: 850px;
$dash-color: rgba(225, 227, 237, 0.7);
$line-color: #00ffb3;

.time-line {
  height: 3000px;
  overflow: hidden;
  &__title {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    color: $grey-5;
  }
  .history {
    $--spot: 10px;
    $--spot-border: 2px;
    $--padding: -15px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    &__spot {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: $--spot;
      height: $--spot;
      border-radius: 50%;
      border: $--spot-border solid $dash-color;
      background: #4a4a4a;
      box-shadow: 0 0 0 5px #4a4a4a;
      &::before, &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 6px;
        height: 6px;
        background: transparent;
      }
      &::after {
        top: $--padding;
        box-shadow: 0 3px 0 3px #4a4a4a;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
      }
      &::before {
        bottom: $--padding;
        box-shadow: 0 -3px 0 3px #4a4a4a;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
      }
      &__active {
        border-color: $line-color;
        width: calc(#{$--spot} * 2);
        height: calc(#{$--spot} * 2);
        div {
          width: calc(#{$--spot} - #{$--spot-border});
          height: calc(#{$--spot} - #{$--spot-border});
          background-color: $line-color;
          margin: calc((#{$--spot} - #{$--spot-border}) / 2);
          border-radius: 50%;
        }
      }
    }
  }
  .contact {
    position: absolute;
    bottom: 500px;
  }
}

@mixin line-pos ($pos: 'true') {
  @if $pos == 'true' {
    position: absolute;
    top: 0;
  }
  left: 50%;
  transform: translateX(-50%);
  width: $line-width;
}

.dashed {
  @include line-pos;
  transform: translateX(-1px);
  background-image: linear-gradient(180deg, transparent, transparent 50%, #{$dash-color} 50%, #{$dash-color} 100%);
  background-size: 2px 8px;
  background-repeat: repeat-y;
  height: calc(100% - #{$bottom-space});
  margin-top: 100px;
}

.current {
  $--current-avatar: 35px;
  $--current-padding: 8px;

  &__default {
    @include line-pos;
    height: 100px;
    background: linear-gradient(-135deg, transparent 0%, rgba(0, 128, 163, 0.3) 30%, rgba(0, 163, 114, 0.6) 60%, $line-color 100%);
  }
  &__line {
    @include line-pos;
    top: 100px;
    height: calc(100% - #{$bottom-space});
    transform-origin: top;
    background: $line-color;
  }
  &__avatar {
    @include line-pos('false');
    position: absolute;
    background: #4a4a4a;
    height: $--current-avatar;
    align-self: flex-start;
    z-index: 400;
    > div {
      border: 2px solid $line-color;
      border-radius: 50%;
      width: $--current-avatar;
      height: $--current-avatar;
      background: white;
      margin-left: calc(((#{$--current-avatar} - #{$line-width}) / 2) * -1);
      > img {
        width: 100%;
        height: 100%;
        padding: 10%;
      }
    }
  }
}
