// app global css in SCSS form
.gradient {
  &-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(-45deg,#00ffb3 0%, #00a372 60%, #0080a3 100%);
    background-blend-mode: darken;
  }
  &-text {
    background: linear-gradient(90deg,#00ffb3 0%, #00a372 60%, #0080a3 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

$--space-size: (
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 32px,
  xl: 64px,
)
