.blind {
  display: none;
}

.placeholder {
  color: #646464;
  font-weight: 390;
}

.can-not-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hideErrorMessageSlot .q-field__bottom {
  display: none;
}

.ell_wrap {
  max-width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
