.draggable
  cursor: grab

.draggable:active
  cursor: grabbing

.essentials
  padding-left: 8px
  &::before
    content: ''
    position: absolute
    width: 5px
    height: 5px
    border-radius: 50%
    top: 0
    left: 0px
    background-color: #d32f2f

.sticky
  position: sticky

.warp
  width: calc(100vw - 240px)
  margin: 0 auto

$gap: "xs" 4px, "sm" 8px, "md" 16px, "lg" 32px, "xl" 64px
$gap-default: 16px

.gap
  gap: $gap-default
.gap-x
  gap: 0 $gap-default
.gap-y
  gap: $gap-default 0

@each $name, $size in $gap
  .gap-#{$name}
    gap: $size
  .gap-x-#{$name}
    gap: 0 $size
  .gap-y-#{$name}
    gap: $size 0
  @each $name2, $size2 in $gap
    .gap-#{$name}-#{$name2}
      gap: $size $size2
