p
  margin: 0 !important

// *::-webkit-scrollbar
//   width: 6px
//   height: 6px

// *::-webkit-scrollbar-thumb
//   background-color: rgba(120, 144, 156, 0.7)
//   border-radius: 6px

// *::-webkit-scrollbar-track 
//   background-color: rgba(176, 190, 196, 1)
//   border-radius: 6px
//   box-shadow: inset 0 0 5px white

*::-webkit-scrollbar
  width: 0px
  height: 0px

h1,h2,h3,h4,h5,h6
  margin: 0

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css)

*
  font-family: 'Noto Sans KR', sans-serif

@font-face
  font-family: 'D2Coding'
  src: url(/public/fonts/D2Coding.ttc)

.d2coding
  font-family: 'D2Coding'